*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: url(../images/774121.jpg);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100% ;

}


section article.clock{
    display: flex;
    align-items: center;
    /*height: 300px;*/
    width: 300px;
    justify-content: center;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bold;
}
section article.clock div{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #111;
}

 /*   border-radius: 100%;
    justify-content: center;
    border: 20px  solid #fff;
    background: #fff;
    box-shadow: inset 0px 0px 2px 1px #eee;
    background-image:url(../images/OIP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;*/




h1{
    font-size: 3em;
}
.clock::after{
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    height:10px;
    width: 10px;
    background: #111;
    z-index: 4;
}
#section,
#minute,
#hour{
    position: absolute;
    height: 100%;
    width: 100%;
}
#second{
    z-index: 3;
}
#minute{
    z-index: 2;
}
#hour{
    z-index: 1;
}
#second::before,#minute::before,#hour::before{
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
     border-radius: 30px;   
}
#second::before{
    height: 120px;
    width:2px ;
    background: crimson;
}
#minute::before{
    height: 100px;
    width:4px ;
    background:#999; 

}
#hour::before{
    height: 70px;
    width:5px ;
    background:#777; 

}
#digitalclock{
    position: absolute;
    left: 57%;
    top: 50%;
    font-size: 12px;
    padding: 2px 6px;
    z-index: 3;
    border-radius: 2px;
    box-shadow: inset 0px 0px 2px 1px #eee;
    background: #efefef;
    transform: translateY(-50%);
    color: #111;
    font-weight: 300;
}